.card {
    display: inline-grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: none;
    column-gap: 10px;
    // box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.list-card-image-container {
    grid-column: 1;
}

.list-card-image {
    border-radius: 8px 0 0 8px;
}

.list-card-title-container {
    grid-column: 2;
}

.card-title {
    font-size: x-large;
}

.card-subtitle {
    font-size: smaller;
}