<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Meal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="mealForm" (ngSubmit)="createMeal()">

    <ion-img [src]="mealImage" *ngIf="mealImage; else dummy"></ion-img>
    <ng-template #dummy>
      <ion-img [src]="dummyMealImage"></ion-img>
    </ng-template>

    <ion-item button (click)="changeMealImage()" detail="false">
      <ion-icon name="image-outline" slot="start"></ion-icon>
      Change Meal Image
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Meal Title</ion-label>
      <ion-input formControlName="title" placeholder="What's the main meal component" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Accompaniments</ion-label>
      <ion-input formControlName="accompaniments" placeholder="What goes with it?" type="text"></ion-input>
    </ion-item>

    <!-- <app-image-crop (imageChanged)="processNewImage($event)"></app-image-crop> -->

    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-button expand="block" type="submit" [disabled]="!mealForm.valid">
          Save Meal
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>