<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="current">
      <ion-icon name="today-outline"></ion-icon>
      <ion-label>This Week</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="meals">
      <ion-icon name="pizza-outline"></ion-icon>
      <ion-label>Meals</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menus">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Menus</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>