<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menus
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="auth.login()" *ngIf="!auth.loggedIn" color="primary" fill="outline">Login
        <ion-icon slot="end" name="log-in"></ion-icon>
      </ion-button>
      <ion-button *ngIf="auth.loggedIn">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>