<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <!-- <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Mealomatic</ion-title>
      </ion-toolbar>
    </ion-header> -->
      <ion-content>
        <ion-list>
          <ion-list-header>Mealomatic</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let menuItem of menuItems">
            <ion-item routerDirection="root" [routerLink]="[menuItem.url]" lines="none" detail="false">
              <ion-icon slot="start" [name]="menuItem.icon"></ion-icon>
              <ion-label> {{menuItem.title}} </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item (click)="auth.login()" lines="none" detail="false">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label> Logout </ion-label>
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

</ion-app>