<ion-app>
  <ion-menu side="start" content-id="main-content" >
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let menuItem of menuItems">
          <ion-item routerDirection="root" [routerLink]="[menuItem.url]" lines="none" detail="false">
            <ion-icon slot="start" [name]="menuItem.icon"></ion-icon>
            <ion-label> {{menuItem.title}} </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>