.web-layout {
    display: none;
}

.min-height-10 {
    --min-height: 10px;
}

.min-height-1 {
    --min-height: 1px;
}

// ion-segment-button {
//     ion-icon {
//         color: var(--ion-color-primary);
//     }
// }

ion-content{
    --background: whitesmoke;
}

.list-thumbnail {
    --size: 96px;
}

.mobile-layout {
    
    // padding-left: 15px;

    // ion-row {
    //     padding-top: 10px;
    // }
}

.padding-top-10 {
    padding-top: 10px;
}

ion-grid {
    --ion-grid-padding: 0px;

    ion-col {
        --ion-grid-column-padding: 3px;
    }
}

.sort {
    --padding-start: 10px;
    --padding-end: 0px;
}

ion-searchbar {
    color: var(--ion-color-primary);
}


.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

ion-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-to-cart-button {
    --border-color: transparent;
    --border-radius: 50%;
    height: 64px;
    width: 64px;
}

app-animated-like {
    position: absolute;
    top: 5px;
    left: 5px;
}

@media (min-width: 540px) {
    .mobile-layout {
        display: none;
    }

    .web-layout {
        display: inherit;
    }

    .edit-icon {
        font-size: 20px;
        color: var(--ion-color-primary);
        position: absolute;
        bottom: 15px;
        right: 10px;
    }

    .add-to-cart-button {
        // --border-color: transparent;
        --border-radius: 50%;
        height: 50px;
        width: 50px;
        position: absolute;

        bottom: 0px;
        right: 0px;
    }
}