.web-layout {
    display: none;
}

.mobile-layout {
    // padding-left: 15px;

    ion-row {
        padding-top: 10px;
    }
}

ion-searchbar{
    color: var(--ion-color-primary);
}


.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

ion-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-to-cart-button {
    --border-color: transparent;
    --border-radius:50%;
    height: 64px;
    width: 64px;    
}

app-animated-like {
    position: absolute;
    top: 5px;
    left: 5px;
}

@media (min-width: 540px) {
    .mobile-layout {
        display: none;
    }

    .web-layout {
        display: inherit;
    }

    .edit-icon {
        font-size: 20px;
        color: var(--ion-color-primary);
        position: absolute;
        bottom: 15px;
        right: 10px;
    }

    .add-to-cart-button {
        // --border-color: transparent;
        --border-radius:50%;
        height: 50px;
        width: 50px;   
        position: absolute;

        bottom: 0px;
        right: 0px; 
    }
}