<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Test Page
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <div class="list-card-image-container">
      <img src="/assets/mom.jpg" alt="Meal Image" class="list-card-image">
    </div>
  
    <div class="list-card-title-container">
      <div class="card-title">
        Title
      </div>
      <div class="card-subtitle">
        Accompaniments here 
      </div>
    </div>
  </div>
</ion-content>